@font-face {
   font-family: 'MADE TOMMY Black_PERSONAL USE';
   font-display: swap;
   src: url('file:///C:/Users/kiran/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-05_183720/fonts/MADE%20TOMMY%20Black_PERSONAL%20USE/font.ttf');
}
